* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards{
    display: grid;
    gap: 10px;
    margin-top: 50px;
    width: 900px;

    grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
}

.cards-grid{
    display: grid;
    gap: 10px;
    margin-top: 50px;
    width: 900px;
    grid-template-columns: repeat(auto-fit, minmax(194px, 1fr));
}

.cards-column{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 50px;
    width: 900px;
}




.card-grid{ 
    width: 224px;
    height: 310px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    border: 1px solid rgb(236, 236, 236);
    padding: 15px;
}

.card-grid > div{
    display: flex;
    flex-direction: row-reverse;
    width: 196px;
    height: 10px;
    position: absolute;
}


.card-grid:hover{
    border: 1px solid rgb(0, 0, 0);
    transition: 0.1s;
}

.card-column{ 
    /* width: 194px; */
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: start;
    gap: 10px;
    border: 1px solid rgb(236, 236, 236);
    padding: 15px;
}

.card-column > div > div{
    display: flex;
    flex-direction: row-reverse;
    /* width: 196px; */
    height: 0px;
    position: relative;
    top: 10px;
    right: 0px;
}

.card-column:hover{
    border: 1px solid rgb(0, 0, 0);
    transition: 0.5s;
}

.selected{
    height: 100%;
}

.card a{
    text-decoration: none;
}

.card > a:first-child {
    max-width: 194px;
    min-width: 194px;
    max-height: 210px;
    min-height: 210px;
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h4{
    color: black;
    font-size: 14px;
    font-weight: 500;
}

.card h3{
    color: rgb(236, 0, 0);
}

.card img{
    max-width: 100%;
    max-height: 100%;
}
